<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bca.bsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.basenavigation.more.learningmenu.materi.MateriActivity"></activity>
        <activity android:name=".ui.basenavigation.more.learningmenu.quiz.QuizActivity" />
        <activity android:name=".ui.basenavigation.information.forum.comment.CommentActivity"></activity>
        <activity android:name=".ui.basenavigation.information.forum.otherprofile.OtherProfileActivity" />
        <activity android:name=".ui.basenavigation.information.forum.inbox.InboxActivity" />
        <activity
            android:name=".ui.basenavigation.information.forum.profile.connection.ConnectionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.basenavigation.information.forum.profile.ForumProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.basenavigation.portfolio.information.InformasiHistoryActivity"></activity>
        <activity android:name=".ui.basenavigation.portfolio.filter.FilterSortActivity" />
        <activity
            android:name=".ui.basenavigation.products.detail.reksadana.detailreksadana.DetailReksaDanaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.information.promonews.detail.DetailPromoNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.learningmenu.quiz.NilaiKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.learningmenu.quiz.KuisAsuransiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.learningmenu.quiz.KuisObligasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.learningmenu.quiz.KuisReksaDanaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.learningmenu.TopicListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.portfolio.produkmenu.ProdukChoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.basenavigation.portfolio.purchasing.PurchasingSmartbotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.basenavigation.products.detail.reksadana.CalculatorProductActivity"
            android:label="@string/title_activity_calculator_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.pin_screen.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.more.calculator.CalculatorMoreActivity"
            android:label="@string/title_activity_calculator_more"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.basenavigation.transaction.detail_transaction.DetailTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.transaction.detail_product_transaction.DetailProductTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.transaction.confirmation.ConfirmationTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.basenavigation.products.detail.DetailProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.basenavigation.BaseNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>